<template>
<div>
  <div
    class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" :src="imageUrl" :alt="title" />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ title }}</div>
      <p class="text-grey-darker text-base">
        {{ description }}
      </p>
    </div>
    <div class="px-6 py-4" v-if="tags">
      <span v-for="(tag, key) in tags" v-bind:key="key" class="tag">
        #{{ tag }}
      </span>
    </div>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class Card extends Vue {
  @Prop({ default: 'The Coldest Sunset' })
  title: string

  @Prop({ default: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.' })
  description: string

  @Prop({})
  tags: string[]

  @Prop({ default: 'https://tailwindcss.com/img/card-top.jpg' })
  imageUrl: string

}
</script>

<style lang="postcss" scoped>
.tag {
  @apply inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2;
}
</style>
