<template>
  <nav id="main-nav" class="flex items-center justify-between flex-wrap bg-teal p-6">
    <div class="flex items-center flex-no-shrink text-white mr-6">
      <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
      <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
    </div>
    <div class="block lg:hidden">
      <button @click="toggleNav" 
        :class="[{ 'is-active': showNav }, 'hamburger hamburger--elastic flex items-start rounded border-teal-light hover:text-white hover:border-white']" 
        type="button" aria-label="Menu" aria-controls="navigation" :aria-expanded="showNav">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
          <span class="hamburger-label text-white">Menu</span>
      </button>
    </div>
    <div id="navigation"
      role="navigation"
      aria-label="Main navigation" 
      :class="[
        { hidden: !showNav }, 
        { block: showNav }, 
        'w-full flex-grow lg:flex lg:items-center lg:w-auto text-center lg:text-right'
      ]">
      <div class="text-sm lg:flex-grow">
        <router-link to="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-darker hover:text-white lg:mr-4">
          Home
        </router-link>
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-darker hover:text-white">
          Blog
        </a>
      </div>
      <div class="lg:ml-6">
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal hover:bg-white mt-4 lg:mt-0">Download</a>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class NavBar extends Vue {
  showNav: boolean = false

  // Component methods can be declared as instance methods
  toggleNav (): void {
    this.showNav = !this.showNav
  }
}
</script>

<style lang="scss">
#main-nav {
  .hamburger {
    border: inherit;
    &:focus {
      outline-color: #a0f0ed;
    }
    .hamburger-label {
      position: relative;
      bottom: 2px;
      right: -5px;      
    }
  }
}

#navigation {
  .router-link-exact-active {
    color: #fff;
  }
}
</style>
