@import '~system-font-css/system-font';

/* Start of styles | Defaults
============================================================
========================================================= */
html,
body { width: 100%; height: 100%; }

body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: em(16);
  color: $colorBaseFont;
  background: $colorBody;
  margin: 0;
  padding: 0;
}

sup, sub { font-size: 75%; line-height: 0; vertical-align: baseline; }
sup { top: -0.5em; left: 0.15em; }
sub { bottom: -0.25em; }
strong { font-weight: 600; }

a {
  text-decoration: none;
}

canvas { display: block; vertical-align: bottom; }

// removes chrome input highlight
*:focus { outline: 0; }