<template>
  <section class="container">
    <div class="py-6">
      <logo />
      <h1 class="title">
        typescript-nuxt
      </h1>
      <h2 class="subtitle">
        My fantabulous Nuxt.js project
      </h2>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
      <div class="sm:flex-col lg:flex mt-4">
        <div class="lg:flex-1 text-grey-darker text-center px-4 py-2 m-2"><Card :tags="['photography', 'travel', 'winter']" /></div>
        <div class="lg:flex-1 text-grey-darker text-center px-4 py-2 m-2"><Card :tags="['photography', 'travel', 'winter']" /></div>
        <div class="lg:flex-1 text-grey-darker text-center px-4 py-2 m-2"><Card :tags="['photography', 'travel', 'winter']" /></div>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'
import Card from '~/components/Card.vue'

export default {
  components: {
    Logo,
    Card
  }
}
</script>

<style lang="postcss">
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
